.Home{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
}
.Products{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 500px;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}
.Modificacoes{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}
.Ordem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}